<%= stylesheet_link_tag 'about', :media => "all" %>
<div class="about">
<div class="abouttitle">
<h1 style="display:inline">About&ensp;</h1><%= image_tag "toukalogo.png", style: "height:60px;margin-bottom:8px;"%>
</div>
<div class="aboutcontent1">
<div class="abouttext1">
<h3 class="texttitle">外ご飯選び。困ったこと、ありませんか？</h3>
<p>外出先でお店を探そうと思っても、<br>なかなか思うようなお店が見つからない……。<br>
    探すのも面倒でいつも同じようなお店やチェーン店に入ってしまう……。<br>
    一人だと、なかなかお店を開拓しづらい……。<br>
    日頃、このように感じることはありませんか？<br>
    <span class="marker">「さくめし」はそんなあなたにぴったりの飲食店サーチサイトです！</span></p>
</div>
<%= image_tag "aboutimage1.jpg", class: "aboutimage1" %>
</div>

<h3 class="texttitle" style="font-size:30px">"さくめし"の特徴</h3>
<div class="aboutcontent2">
<div class="feature1"><strong style="font-size:17px;display:block">①「いま食べたい」にサクッと出会える！</strong><br>
    フリーワードと、豊富なタグから飲食店を絞り込んで検索できます！<br>
    タグを複数選択すれば、その分ぴったりの飲食店が絞り込めます♪</div>
<div class="feature2"><strong style="font-size:17px;display:block">②出会ったら、サクッと食べに行こう！</strong><br>
    検索結果が近い順に表示され、かつマップにすぐ飛べるようになっています！<br>
    絞り込み→お店にすぐGO!!が可能です♪</div>
<div class="feature3"><strong style="font-size:17px;display:block">③コメント＆ブックマークを活用しよう！</strong><br>
    コメントでみんなの感想を見てみよう！食べにいったらあなたもサクッとコメント♪<br>
    気に入ったら・気になったら☆ボタンでブックマーク！</div>
</div>


<span style="color:orange;font-size:20px">▷<%= link_to "トップページに戻ってさっそくお店を探そう！",restaurants_path ,class: "toplink" %>◁</span>
</div>