.newrestaurant{
    text-align: center;
    margin-bottom: 20px;
}

.newtable{
    margin: 20px auto;
    border-spacing: 0px 15px;
}

.newtext{
    margin-right: 10px;
    margin-left: 3px;
    display: inline;
}

.newvalue{
    display: flex;
    align-items: center;
}